* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-size: 62.5%;
  /* 10px = 1 rem*/
  --bg: #000000;
  --bg-card: #0E1218;
  --text: #F1F1F1;
  --img-profile: #8257e5;
  --buttons: #FFF;
  --border-button: #1A1A1A; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background-color: var(--bg-card);
  color: #fff;
  font-family: 'Prompt', sans-serif; }

.wrapper {
  padding: 10rem;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem; }
  @media (max-width: 1024px) {
    .wrapper {
      padding: 4rem;
      gap: 3rem; } }
  @media (max-width: 768px) {
    .wrapper {
      padding: 0;
      flex-direction: column; } }

/*=============BACKGROUND==================*/
.background h2 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 3rem; }
  @media (max-width: 768px) {
    .background h2 {
      display: none; } }

.bg-btn {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.3rem;
  padding: 2rem 5rem;
  border: 2px solid var(--border-button);
  border-radius: 15px;
  background-color: var(--bg);
  color: var(--buttons);
  cursor: pointer;
  margin-bottom: 5rem; }

/*===============================*/
.card {
  background-color: var(--bg);
  border-radius: 50px;
  padding: 2.5rem 1.5rem;
  width: 43.9rem; }
  @media (max-width: 768px) {
    .card {
      width: 100%;
      border-radius: 0; } }

.card-content {
  background-color: var(--bg-card);
  border-radius: 50px;
  padding: 3.8rem 0 2.8rem 2.2rem;
  position: relative; }

/*=============HEADER==================*/
.card-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem; }

.card-header .image {
  border: 1px solid var(--text);
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem; }
  .card-header .image img {
    width: 100%;
    height: 100%;
    object-fit: scale-down; }

.card-header p {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.6rem; }

/*=============BODY==================*/
.card-body {
  overflow: hidden;
  padding-bottom: 6rem; }
  @media (max-width: 768px) {
    .card-body {
      padding-bottom: 11rem; } }

.photo-profile {
  border: 10px solid var(--img-profile);
  border-radius: 50%;
  width: 38rem;
  height: 38rem;
  overflow: hidden;
  margin-left: 7rem; }
  @media (max-width: 768px) {
    .photo-profile {
      width: 30rem;
      height: 30rem;
      margin-left: 3rem; } }
  .photo-profile img {
    display: inline-block;
    width: 36rem; }
    @media (max-width: 768px) {
      .photo-profile img {
        width: 28rem; } }

/*=============INFOS==================*/
.profile-infos {
  position: absolute;
  bottom: 8.5rem; }

.info-list {
  list-style: none;
  background: linear-gradient(180deg, #000000 3.65%, rgba(70, 69, 69, 0.72) 53.65%, rgba(62, 56, 56, 0.42) 100%);
  padding: 2rem 3rem;
  border-radius: 50px; }
  @media (max-width: 768px) {
    .info-list {
      padding: 1rem 2rem; } }

.list-item {
  font-size: 1.6rem;
  line-height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem; }
  @media (max-width: 768px) {
    .list-item {
      font-size: 1.4rem; } }

.list-item:last-child {
  margin-bottom: 0; }

/*=============FOOTER==================*/
.card-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1.5rem; }
  .card-footer img {
    display: inline-block;
    width: 3rem;
    height: 3.4rem; }
  .card-footer p {
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    text-transform: uppercase;
    margin-left: 1rem; }

/*# sourceMappingURL=style.css.map */
